%h1.typekit
  %span.inner_circle blurt
  
#timer

%p#query

%form#play
  %input#word_input{:autocomplete => "off", :autofocus => "autofocus", :name => "word", :placeholder => "Enter your guesses here..", :type => "text"}
  
%ul#guesses

%h2 Scoreboard

%ol#players